
<div class="background_head" style="background-image:url('images/epreuve_background.jpg');"></div>

<div id="reglement">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2><strong>Catégorie 18 / 29 ans</strong></h2>
        <p>Fertonani Adrien - 270km</p>
        <p>Vercouter Jonas - 250km</p>
        <p>Deygas Aymeric - 250km</p>
        <p>Alejandro Adrien - 250km</p>
        <p>Machado Jeremy - 250km</p>
        <p>Chatel Samuel - 250km</p>
        <p>Remond David - 250km</p>
        <p>Alejandro Baptiste - 250km</p>
        <p>Mesle Thibaud - 250km</p>
        <p>Carlet Pierre - 239km</p>
      </div>
      <div class="col-sm-4">
      <h2><strong>Catégorie 30 / 39 ans</strong></h2>
        <p>PANNECOUCKE Wisley- 709km</p>
        <p>DESTOOP Brecht - 709km</p>
        <p>Follot Charles - 291km</p>
        <p>Maire Pierrick - 291km</p>
        <p>CHERIAUX Brice - 250km</p>
        <p>POUMARAT Loic - 250km</p>
        <p>DAUGERON Frédéric - 250km</p>
        <p>VALRIVIERE Pierre - 250 km</p>
        <p>SHAHMAEI Nathanaël - 250km</p>
        <p>LOLLIEROU Erwann - 250km</p>
      </div>
      <div class="col-sm-4">
        <h2><strong>Catégorie 40 / 49 ans</strong></h2>
        <p>Lebas Sébastien  - 709km</p>
        <p>Garcia Da Silva Fernando - 574km</p>
        <p>Labussiere Jean Luc  - 553km</p>
        <p>Dauphin Guy - 553km</p>
        <p>Lecocq Cedric - 553km</p>
        <p>De Vecchi David - 541km</p>
        <p>Cortet Stéphane - 426km</p>
        <p>Durand Jean-Christophe - 385km</p>
        <p>QUEQUEVILLE Stéphane - 291km</p>
        <p>Kuss Olivier - 291km</p>
      </div>
      <div class="col-sm-4">
        <h2><strong>Catégorie 50 / 59 ans</strong></h2>
        <p>Gaudelet Eddie - 709km</p>
        <p>Dupont Stephane - 594km</p>
        <p>Bonneau Richard - 426km</p>
        <p>André Didier - 426km</p>
        <p>Vaudran Richard - 385km</p>
        <p>Fertonani René - 385km</p>
        <p>Riviere Lionel - 291km</p>
        <p>Bretin Daniel - 291km</p>
        <p>Boudot Patrice - 291km</p>
        <p>Lafont Bertrand - 291km</p>
      </div>
      <div class="col-sm-4">
        <h2><strong>Catégorie 60 ans et plus</strong></h2>
        <p>Simon Yves- 541km</p>
        <p>Delayre Jean-Paul - 426km</p>
        <p>Vidalie Michel - 406km</p>
        <p>Jean Rousson - 291km</p>
        <p>Jean-pierre Fauveau - 291km</p>
        <p>Francis Valez - 291km</p>
        <p>Berthaut Michel - 260km</p>
        <p>Vergereau Bernard - 250km</p>
        <p>Samson Michel - 250km</p>
        <p>Decombe Christian - 250km</p>
      </div>
      <div class="col-sm-4">
        <h2><strong>Catégorie 18 / 29 ans Femme</strong></h2>
        <p>LE COQUET Leila - 260km</p>
        <p>LOLLIEROU Elodie - 250km</p>
        <p>SICOT Marion - 135km</p>
        <p>COCHET Camille - 135km</p>
        <p>SICOT Marion - 135km</p>
        <p>PAROT Danielle - 135km</p>
        <p>ROBERT Camille - 135km</p>
        <p>NIDERCORNE Charlotte - 135km</p>
        <p>BOUVROT Elodie - 104km</p>
        <p>GARDEY Dephine - 104km</p>
      </div>
      <div class="col-sm-4">
        <h2><strong>Catégorie 30 / 39 ans Femme</strong></h2>
        <p>Ricord Pauline - 250km</p>
        <p>Lamblin isabelle - 156km</p>
        <p>Minet Francoise - 156km</p>
        <p>Gaubert Aurélie - 135km</p>
        <p>Quittot Sylvie - 135km</p>
        <p>Vandenbroucke Apolline - 115km</p>
        <p>Barthe-Franquin Isabelle - 115km</p>
        <p>Celine chenot - 103km</p>
        <p>Sandra TANAHATOE - 103 km</p>
        <p>Angelique Lerat - 103km</p>
      </div>
      <div class="col-sm-4">
        <h2><strong>Catégorie 40 / 99 ans Femme</strong></h2>
        <p>Duru Clothilde - 354km</p>
        <p>Dominique Pelletier - 207km</p>
        <p>Mellena Carla - 168km</p>
        <p>Gros Stephanie - 135km</p>
        <p>Bredard Christelle - 135km</p>
        <p>Gatignol Christelle - 135km</p>
        <p>Dnailov Elitsa - 135km</p>
        <p>Rouleau Jackie - 135km</p>
        <p>Barral Marie Anne - 135km</p>
        <p>Hagenbach Sandrine - 115km</p>
      </div>
      <div class="col-sm-4"></div>
      <h2><strong>Catégorie  Handisport</strong></h2>
      <p>Gaillard Christophe - 553km</p>
      <p>Kebli / Abdennour - 135km</p>
      <p>Morier Jean François / Codjo Candide - 135km</p>
      <p>Lesueur Stéphane/ Patinier Baudouin - 135km</p>
      <p>Dedianne - 104km</p>
      <p>Michel Borel - 103km</p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </div>
  </div>

</div>




