<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="race-wrapper">
        <h2>Les prochaines cyclosportives</h2>
        <div class="race-wrapper-inside">
          <% @races.each do |race| %>
          <a class= "race-link" href="races/<%= race.id %>" >
          <div class="race">
            <div class='race-body'>
              <h3><%= race.name %></h3>
              <p><strong>Distances :</strong> <%= race.distance %> KM</p>
            </div>
            <ul class="list-inline product-controls hidden-sm hidden-xs">
              <li>
                <i class="fa fa-shopping-cart race-cart" aria-hidden="true"></i>
              </li>
            </ul>
          </div>
          </a>
          <br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>




