
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <div id="reglement">
      <h1>REGLEMENT DU CHALLENGE ASSURANCES VELO 2017</h1>
      <h2>1°) LES ETAPES DU CHALLENGE 2017</h2>

      <p>
        Le <strong>CHALLENGE ASSURANCES VELO 2017</strong> portera sur 9 épreuves cyclosportives nationales<br><br>
        1 ère  ETAPE : <strong>LA JACQUES GOUIN</strong> le 5 mars<br>
        2 ème ETAPE : <strong>LA MORVANDELLE </strong>le 1er avril<br>
        3 ème ETAPE : <strong>LA VELOSTAR </strong>le 1er mai<br>
        4 ème ETAPE : <strong>LA CYCLO DES BOUCLES DE LA MARNE</strong> le 28 mai<br>
        5 ème ETAPE : <strong>LA CLAUDIO CHIAPPUCCI</strong> le 3 juin<br>
        6 ème ETAPE : <strong>LES COPAINS CYFAC </strong>les 30 juin et 1 et 2 juillet<br>
        7 ème ETAPE : <strong>LA PIERRE CHANY</strong> le 5 aout<br>
        8 ème ETAPE : <strong>LA JEAN FRANCOIS BERNARD</strong>le 20 aout<br>
        9 ème ETAPE : <strong>LES MONTS DE L AUXOIS</strong> le 10 septembre<br>
      </p>

      <h2>2°) LES CONDITIONS DE PARTICIPATION AU CLASSEMENT DU CHALLENGE </h2>

      <p>
       Ce Trophée est ouvert à toutes et tous, majeur(e)s, licencié(e)s possédant une licence délivrée par une fédération
       autorisant la pratique du cyclisme de compétition (FFC, UFOLEP, FSGT, FFTri, FF Handisport, FFCT)
       <br>
       Sont exclus du classement du CHALLENGE ASSURANCES VELO les 1ères et 2ème catégories FFC ainsi que les
       cyclosportifs qui délivreront le jour de l’épreuve un simple certificat médical.
      </p>

      <h2>3°) ENGAGEMENTS</h2>

      <p>
        En participant à une cyclosportive du Challenge Assurances Vélo, tout participant est automatiquement inscrit au classement du Challenge Assurances Vélo.
      </p>

      <h2>4°) CATEGORIES</h2>

      <p>
        L'âge de chacun est déterminé par rapport à l'année de naissance. Les Catégories se présentent comme suit :<br><br>
        <strong>FEMMES<br><br></strong>
        18 ans / 39 ans<br>
        40 ans / 49 ans<br>
        50 ans et plus<br><br>
        <strong>HOMMES<br><br></strong>
        18 ans / 29 ans<br>
        30 ans / 39 ans<br>
        40 ans / 49 ans<br>
        50 ans / 59 ans<br>
        60 ans et plus<br><br>
        <strong>HANDISPORT<br><br></strong>
        18 ans et plus<br>
      </p>

      <h2>5°) CLASSEMENTS</h2>

      <p>
       Le classement Général du Challenge se fera en fonction de 2 critères :
       <br><br>
       - 1er Critère : le cumule des kilomètres parcourus Etapes après Etapes du Challenge sans
       distinction grands et petits parcours et si besoin,
       <br><br>
       - 2nd Critère : la place dans la catégorie ou il faut avoir le plus petit chiffre pour se
       départager avec un ex aequo.
       <br><br>
       - M. GHISLAIN fait les 2 premières Etapes du Challenge et ses places dans sa catégorie
       sont 5ème et 2ème <br>
       dans sa catégorie soit 115 + 104 (petits parcours) = 219 points<br>
       Soit 5 + 2 = 7 <br> <br>
       - M. LAMBERT fait les 2 premières Etapes du Challenge et ses places dans sa catégorie
       sont 4ème et 6ème <br>
       Soit 115 km + 104 km (petits parcours) = 219 pts <br>
       Soit 4+6 = 10 <br> <br>
       Donc le leader est M. GHISLAIN car il a le plus petit score 7 contre 10
      </p>

      <h2>6°) MINIMA de participation pour gagner le CHALLENGE </h2>

      <p>Un minima de 4 participations sera obligatoire pour gagner le CHALLENGE et
        prétendre aux lots.</p>

        <h2>7°) LES RECOMPENSES / Gagnants</h2>

        <p>
          - Un maillot de Leader sera remis après chaque ETAPE du CHALLENGE,
          il sera envoyé par voie postale <br><br>
          - Un jeu STRAVA sera organisé lors de chaque ETAPE du CHALLENGE,
          recompensant 3 cyclosportifs en fonction de règles à définir et annoncées
          la semaine précédente l’ETAPE du CHALLENGE. Pour gagner, il faudra
          au préalable s’inscrire dans notre groupe « STRAVA ASSURANCES
          VELO »<a href="https://www.strava.com/clubs/assurances-v%C3%A9lo-209591"> s'inscrire ici </a>. Les lots seront des gants, des paires de chaussette, des crèmes
          chauffantes, apéritifs offerts, polos … à découvrir sur le site du Challenge<br><br>
          - Après la dernière ETAPE DU CHALLENGE, le classement définitif sera
          annoncé la semaine suivante. Le lieu et la date de la remise des prix seront
          annoncé prochainement.<br><br>
          - Les 5 premiers de chaque catégorie seront récompensés.<br><br>
          - Les récompenses seront attribués par tirage au sort (1 chance d’être tiré au
          sort par classé).<br><br>
        </p>

        <h2>8°) LES LOTS</h2>

        <p>
          - 5 Paires de roues ASTERION (valeur unitaire 489 €ttc) <br>
          - 3 Casques KASK (valeur unitaire 100 €ttc) <br>
          - 10 Bouteilles de Rhum BARISTEA aromatisés <br>
          - 5 Mois de café BARISTEA <br>
          - 10 Baptêmes au Vélodrome de St Quentin en Yvelines <br>
          - 2 Encyclopédies sur l’histoire du Vélodrome de St Quentin en Yvelines <br>
          - 10 plateaux KRONOS <br>
          - 3 Assurances Vélo offertes (1er plafond de garantie) <br>
          - 100 bons de réduction Assurances Vélo <br>
          - 3 études Posturales Offertes <br>
          Et bien d’autres surprises à découvrir tout au long du Challenge <br>
        </p>

        <h2>9°) LE CHALLENGE ASSURANCES VELO</h2>

        <p>Toute réclamation, toute question sera envoyée par mail à contact@assurancesvelo.com ou sur le site http://www.assurancesvelo.com/challenge/</p>
    </div>
    </div>
  </div>
</div>



