 <div id="footer" style="text-align: center">
  <div class="container">
    <div class="row">
        <ul class="list-inline">
          <li><a target="_blank" href="https://www.instagram.com/assurances.velo/"><i class="fa fa-instagram"></i></a></li>
          <li><a target="_blank" href="https://www.facebook.com/assurancevelo/?fref=ts"><i class="fa fa-facebook"></i></a></li>
          <li><a target="_blank" href="https://twitter.com/AssurancesVelo"><i class="fa fa-twitter"></i></a></li>
        </ul>
        <p>contact@assurancesvelo.com | 2016 Challenge Assurances Vélo</p>
    </div>
  </div>
