<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "logo.png" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">


    <!-- Text link -->
    <a href="/#recompenses" class="navbar-wagon-item navbar-wagon-link">Recompenses</a>

    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Classement</a>

    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Réglement</a>


    <!-- Button (call-to-action) -->
    <a href="" class="navbar-wagon-item button-orange btn">Inscription</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="/#recompenses">Recompenses</a></li>
        <li><a href="#">Classement</a></li>
        <li><a href="#">Réglement</a></li>
        <li><a href="#">Inscription</a></li>
      </ul>
    </div>
  </div>
</div>
