.purchase-wrapper{
  padding: 2em;
}

.purchase-title{
  padding-top : 2em;
  padding-bottom : 2em;
  h2 {
    color: $orange;
  }
}

.purchase-content{
  padding-top : 2em;
  padding-bottom : 4em;
}
