#reglement{
  padding-bottom: 2em;
  h1{
    font-size: 20px;
    color: $gray-darker;
    padding-bottom:1em;
  }

  h2{
    font-size: 16px;
  }
  h3{
    font-size: 14px;
  }
  p{
    font-size: 12px;
  }
}
