.event{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 15px;
  border-radius: 2px;
  transition: all 0.15s ease;
  background-color: white;
  border: solid 1px $orange;
  border-radius: 10px;
  margin:5px;

}

.event-body p {
  font-weight: lighter;
  color: $orange;
  margin-bottom: 0;
}

.event-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.event:hover{
  background-color: $gray-medium;
  border: solid 1px $gray-dark;
  transition: background 0.5s;
  p{
    color: $gray-dark;
  }
  span{
    color: $gray-dark;
  }
}

.event-paragraph-form{
  color: $gray-dark;
}
